<div class="card card-chat dimension">
    <div class="row">
        <div class="col-4" style="padding: 0;">
            <div class="card-header bg border-bottom fixed" style="border: none;">
                <div class="font-weight-bold" style="margin-left: 5px;">
                    Lista Operatori
                </div>
            </div>
            <div class="card-body" style=" height: 100%; overflow-y: scroll;">
                <app-list-chat></app-list-chat>

            </div>
            <div class="card-footer bg fixed">
                <div style="height: 40px; border: none"></div>
            </div>
        </div>

        <div class="col" style="border-left: 1px solid #e0e0e0; padding: 0; ">
            <app-body-chat></app-body-chat>
        </div>
    </div>
</div>