<div class="card-header bg border-bottom fixed" style="border: none;">
    <div class="font-weight-bold" style="margin-left: 5px;">
        Chat
    </div>
</div>
<div class="card-body" style="overflow-y: scroll;  height: 800px;">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum pariatur voluptas quia. Officia rem iure
    suscipit, eligendi reprehenderit tenetur alias architecto nihil obcaecati in accusantium odit saepe
    numquam, temporibus consequatur!
</div>
<div class="card-footer bg fixed">
    <input style="width: 90%;" type="text">
    <i style="font-size: 32px; margin-left: 10px; margin-top: 5px; color: whitesmoke;" class="fa fa-arrow-circle-up"
        aria-hidden="true"></i>
</div>