<div class="container-fluid">
    <div class="row d-flex">

        <div class="col-4 padd-0">
            <div class="card">
                <div class="card-header">
                    List User's
                </div>
                <div class="card-body">
                    <div class="row item-chat">
                        <div class="col-3">
                            <i class="fa fa-user-circle fa-3x"></i>
                        </div>
                        <div class="col-9">
                            <div class="h6" style="margin-bottom: 0;">
                                {{messageList[0].user.name}} {{messageList[0].user.surname}}
                            </div>
                            <div class="small-text">
                                {{messageList[0].content}}
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>

        <div class="col padd-0">
            <div class="card">
                <div class="card-header">
                    Messages
                </div>
                <div class="card-body">
                    <div class="row" *ngIf="messageList[0].user.name === currentUser.name">
                        <div class="col-6">
                            <div class="card border-radius border-color-user">
                                <div class="card-body" style="height: fit-content; padding: 10px;">
                                    <h6>{{messageList[0].user.name}}</h6>
                                    <p>{{messageList[0].content}}</p>
                                    <div class="padd-0 card-footer d-flex justify-content-end">
                                        <small>
                                            {{messageList[0].date | date: 'shortTime' }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="messageList[1].user.name !== currentUser.name">
                        <div class="col-6 offset-6">
                            <div class="card border-radius border-color-other">
                                <div class="card-body " style="height: fit-content; padding: 10px;">
                                    <h6>{{messageList[1].user.name}}</h6>
                                    <p>{{messageList[1].content}}</p>
                                    <div class="padd-0 card-footer d-flex justify-content-end">
                                        <small>
                                            {{messageList[1].date | date: 'shortTime' }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>

    </div>
</div>