<div class="container-12 padding-0">
  <h4 style="color: #7e7e7e;"> Dashboard </h4>
  <hr width="100%" class="pdb10">

  <div class="row">
    <div class="col-4">
      <div class="card card-chart shadow-sm bg-gray">
        <div class="card-body">
          <div style="color: #7e7e7e;">
            <h5 style="color: #7e7e7e;"> Maintenance Status </h5>
            <hr width="100%" class="pdb10">
          </div>
          <div class="d-flex justify-content-center">
            <canvas id="myPieChart" class=" d-block w-100" style="width: 200px; height: 200px;"></canvas>
          </div>
          <ul class="list-group list-group-flush pdt10" style="padding-bottom: 0;">
            <li class="list-group-item bg-gray border-0">
              <a class="text-white btn-floating btn-fb btn-sm font-smaller "><i class="fa fa-circle fa-lg"
                  style="color: rgba(229, 85, 81)" aria-hidden="true"></i></a>
              <label>Active</label>
            </li>
            <li class="list-group-item bg-gray border-0">
              <a class="btn-floating btn-tw btn-sm font-smaller "><i class="fa fa-circle fa-lg"
                  style="color: rgba(245, 183, 109)" aria-hidden="true"></i></a>
              <label>In Progress</label>
            </li>
            <li class="list-group-item bg-gray border-0">
              <a class="text-white btn-floating btn-li btn-sm font-smaller "><i class="fa fa-circle fa-lg"
                  style="color: rgba(106, 188, 189)" aria-hidden="true"></i></a>
              <label>Completed</label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card card-chart shadow-sm bg-gray">
        <div class="card-body" style="padding: 15px">
          <h5 style="color: #7e7e7e;"> Machine's Maintenance </h5>
          <hr width="100%" class="pdb10">

          <div class="d-flex justify-content-center">
            <canvas id="bar-chart" width="1000" height="400"></canvas>
          </div>
          <div class="input-group pdt10">
            <select class="custom-select border-radius" id="inputGroupSelect01" (change)="getAllMaintenanceByMachine()">
              <option value="0" selected>Choose a Machine...</option>
              <option *ngFor="let machine of machineList" value="{{machine.id}}">{{machine.name}}
                ({{machine.serialNumber}})</option>
            </select>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="row pdt10">
    <div class="col-12">
      <div class="card card-chart shadow-sm bg-gray">
        <div class="card-body" style="padding: 15px">
          <h5 style="color: #7e7e7e;"> Andamento Manutenzioni Anno {{this.year}} / ({{this.year + 1}})</h5>
          <hr width="100%" class="pdb10">
          <div class="row">
            <div class="col-9">
              <div class="d-flex justify-content-center">
                <canvas id="line-chart" width="800" height="400"></canvas>
              </div>
            </div>
            <div class="col-3 padding-top-lg">
              <ul class="list-group pdt10" style="padding-bottom: 0;">
                <li class="list-group-item bg-gray border-0">
                  <a class="text-white btn-floating btn-fb btn-sm font-smaller "><i class="fa fa-circle fa-lg"
                      style="color: rgba(229, 85, 81)" aria-hidden="true"></i></a>
                  <label>Ordinary</label>
                </li>
                <li class="list-group-item bg-gray border-0">
                  <a class="btn-floating btn-tw btn-sm font-smaller "><i class="fa fa-circle fa-lg"
                      style="color: rgba(245, 183, 109)" aria-hidden="true"></i></a>
                  <label>Extraordinary</label>
                </li>
                <hr>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- 
<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="card" style="width: 500px; height: 300px">
          <h2>Manutenzioni</h2>
          <div class="row">
            <div class="col">
              <h6>Manutenzioni attive: {{userMaintenanceListStarted.length}}</h6>
              <h6>Manutenzioni in corso: {{userMaintenanceListInProgress.length}}</h6>
              <h6>Manutenzioni completate: {{userMaintenanceListCompleted.length}}</h6>

              <button type="submit" class="btn btn-primary" routerLink="/home/list-user-maintenance">Via alla
                Lista</button>
            </div>
            <div class="col">
              <div style="width: 500px;">
                <canvas id="myPieChart" width="30" height="30"></canvas>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="container">
        <div class="card" style="width: 500px; height: 300px">
          <h2>Macchinari</h2>
          <div class="input-group">
            <select class="custom-select" id="inputGroupSelect01" (change)="getAllMaintenanceByMachine()">
              <option value="0" selected>Choose...</option>
              <option *ngFor="let machine of machineList" value="{{machine.id}}">{{machine.name}}
                ({{machine.serialNumber}})</option>
            </select>
          </div>
          <div>
            <div style="width: 390px;">
              <canvas id="bar-chart" width="800" height="450"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card" style="width: 800px; height: 300px">
      <div style="width: 600px;">
        <canvas id="line-chart" width="800" height="450"></canvas>
      </div>
    </div>
  </div>
</div>
-->