.bg-gray {
 background: #fafafa;
}

.card-chart-doughnut {
    width: 100%;
    height: auto;
}

.card-chart-hystogram {
    width: 100%;
    height: auto;
}

ul > li > label {
    font-size: 12px;
}

.list-group-item {
    padding: 5px 10px
}

.border-radius {
    border-radius: 10px;
}

.card-body {
    padding: 10px 20px 10px 20px;
}