<app-navbar-home (showMenu)="_toggleSidebar()"></app-navbar-home>

<ng-sidebar-container>
    <ng-sidebar dockedSize="90px" dock="true" mode="push" [opened]="_opened">
        <span *ngIf="_opened then open else close"></span>
    </ng-sidebar>

    <div ng-sidebar-content class="container">
        <router-outlet></router-outlet>
    </div>

</ng-sidebar-container>



<!----------------------------------------------------
            Blocchi condizionali *ngIf
------------------------------------------------------>

<ng-template #open>
    <app-side-menu-open></app-side-menu-open>
</ng-template>

<ng-template #close>
    <app-side-menu-close></app-side-menu-close>
</ng-template>