<h2>Dashboard</h2>

<button type="button" class="btn btn-outline-primary" routerLink="/beacon">Beacon</button>

<button type="button" class="btn btn-outline-primary" routerLink="/machine">Machine</button>

<button type="button" class="btn btn-outline-primary" routerLink="/operator">Operator</button>

<button type="button" class="btn btn-outline-primary" routerLink="/maintenance">Maintenance</button>

<button type="button" class="btn btn-outline-primary" routerLink="/list-maintenance">Lista Maintenance</button>
