<div class="row">
  <div class="col-6">

    <h2>Macchinario</h2>

    <div class="card">
      <div class="input-group">
        <select class="custom-select" id="inputGroupSelect01" (change)="getAllZoneByMachine()">
          <option selected>Choose...</option>
          <option *ngFor="let machine of machineList" value = "{{machine.id}}">{{machine.name}} ({{machine.serialNumber}})</option>
        </select>
        <div class="input-group-append">
            <button type = "submit" class="btn btn-outline-secondary" (click)="showAddMachine()">Aggiungi</button>
        </div>
        <div class="input-group-append">
        <button class="btn bg-transparent" (click) = "deleteMachine()">
          <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"></path>
          </svg>
        </button>
        </div>
      </div>

      <form *ngIf="isCreate">
        <div class = "form-group">
          <label>Nome Macchinario</label>
          <input type="text" class="form-control"
                 #name
                 name="name">
        </div>

        <div class = "form-group">
          <label>Serial Number</label>
          <input type="text" class="form-control"
                 #serialNumber
                 name="serialNumber">
        </div>
        <button type = "submit" class="btn btn-primary" (click)="addMachine(name.value, serialNumber.value)">Crea</button>
        <button type = "submit" class="btn btn-primary" (click)="hideAddMachine()">Annulla</button>
      </form>
    </div>

    <h2>Aggiungi Zona</h2>

    <div class="card">
      <form>
        <div class = "form-group">
          <label>Nome Zona</label>
          <input type="text" class="form-control"
                 #name
                 name="name">
        </div>

        <h3>Associa Beacon</h3>
        <select class="form-control" id="inputGroupSelect02">
          <option selected>Choose...</option>
          <option *ngFor="let beacon of beaconList" value="{{beacon.id}}">{{beacon.name}} ({{beacon.mac}})</option>
        </select>

        <button type = "submit" class="btn btn-outline-secondary" (click)="addZone(name.value)">Aggingi Zona</button>
      </form>
    </div>


  </div>
  <div class="col-6">
    <h2>Zona Macchiario</h2>
    <div class="card" *ngIf="zoneList.length != 0">
      <ul class="list-group" *ngFor="let zone of zoneList, let myindex = index">
        <li class="list-group-item">
          {{zone.name}} (Beacon associato: {{zone.beacon.name}})
          <button class="btn bg-transparent" (click) = "deleteZone(zone.id, myindex)">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"></path>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="card" *ngIf="zoneList.length == 0">
      <p>Non ci sono zone</p>
    </div>
  </div>
</div>

