.border-color-success {
    border-left: 5px solid green;
}

.border-color-warning {
    border-left: 5px solid #ffd000;
}

.border-color-danger {
    border-left: 5px solid red;
}

.border-color {
    border-left: 5px solid #379392;
}