<div class="w-100 d-flex justify-content-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="getAllUserMaintenanceByStatus('started')" type="button" class="btn btn-secondary">Attive</button>
    <button (click)="getAllUserMaintenanceByStatus('in-progress')" type="button" class="btn btn-secondary">In
      Corso</button>
    <button (click)="getAllUserMaintenanceByStatus('completed')" type="button"
      class="btn btn-secondary">Completate</button>
  </div>
</div>

<h4 style="color: #7e7e7e;"> Maintenance List:
</h4>
<hr width="100%">
<ul class="list-group list-group-flush border-color" style="padding-bottom: 0;"
  *ngFor="let userMaintenance of userMaintenanceList, let myindex = index">
  <li class="list-group-item border-color">
    <div class="row pdy10">
      <b>Nome: </b>
      <p>{{userMaintenance.maintenance.name}}</p>
    </div>
    <div class="row pdy10">
      <b>Type: </b>
      <p>{{userMaintenance.maintenance.type}}</p>
    </div>
    <div class="row pdy10">
      <b>Operator: </b>
      <p>{{userMaintenance.user.name}}</p>
    </div>
  </li>
</ul>