<nav class="side-navbar">
    <ul style="margin-left: 210px;" class="navbar-nav text-light-light">
        <li class="nav-item">
            <a type="button" [routerLink]="['profile']" routerLinkActive="is-active">
                <i class="icon-close fa fa-user-circle-o fa-fw fa-stack" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a type="button" [routerLink]="['dashboard']" routerLinkActive="is-active">
                <i class="icon-close fa fa-dashboard fa-fw fa-stack" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a type="button" [routerLink]="['beacon']" routerLinkActive="is-active">
                <i class="icon-close fa fa-bluetooth fa-fw fa-stack" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a type="button" [routerLink]="['machine']" routerLinkActive="is-active">
                <i class="icon-close fa fa-cogs fa-fw fa-stack" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a type="button" [routerLink]="['operator']" routerLinkActive="is-active">
                <i class="icon-close fa fa-male fa-fw fa-stack" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a type="button" [routerLink]="['maintenance']" routerLinkActive="is-active">
                <i class="icon-close fa fa-wrench fa-fw fa-stack" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a type="button" [routerLink]="['list-maintenance']" routerLinkActive="is-active">
                <i class="icon-close fa fa-list-alt fa-fw fa-stack" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a type="button" [routerLink]="['chat']" routerLinkActive="is-active">
                <i class="icon-close fa fa-comments fa-fw fa-stack" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>