<ul class="list-group">
    <li class="list-group-item border-bottom" style="border: none;" aria-disabled="true">
        <i class="fa fa-2x fa-user-circle chat_img rounded-circle" alt="sunil"></i>
        <div class="chat_ib ">
            <h5 style="text-transform: capitalize;"> Mimmo D'Oria </h5>
            <p style="color: #a0a0a0;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                aliquid nesciunt alias illo, eum ipsum natus ullam dicta illum minima quam nam porro
                nulla temporibus iste necessitatibus, aut similique provident. Velit excepturi
                incidunt
                ullam eaque, ab exercitationem! Ullam minus sint perspiciatis, dolor quae
                perferendis.
            </p>
        </div>
    </li>
</ul>