<div class="padding-top-md">
  <div class="card">
    <div class="card-header">
      <h5> Assign maintenance to operator</h5>
    </div>

    <div class="card-body">
      <form>


        <div class="row">
          <div class="col-5">
            <div class="row">
              <div class="col padding-bottom-sm">
                <div class="input-group" style="margin-right: 10px">
                  <select class="custom-select border-right-0" style="border-radius: 10px 0 0 10px;"
                    id="inputGroupSelect01">
                    <option value="0" selected>Choose a Maintenance...</option>
                    <option *ngFor="let maintenance of maintenanceList" value="{{maintenance.id}}">{{maintenance.name}}
                      ({{maintenance.type}})</option>
                  </select>
                  <a class="btn border-top border-bottom" style="border-radius: 0; border: #cfd4d9"
                    (click)="goToMaintenance()">
                    <i class="fa fa-plus-square-o fa-lg"></i>
                  </a>
                  <a class="btn border border-left-0" style="border-radius: 0 10px 10px 0; border: #cfd4d9"
                    (click)=" deleteMaintenance()">
                    <i class="fa fa-trash fa-lg text-danger"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 d-flex justify-content-center">
            <i class="fa fa-share fa-3x" aria-hidden="true"></i>
          </div>
          <div class="col-5">
            <div class="row">
              <div class="col padding-bottom-sm">
                <div class="input-group" style="margin-right: 10px">
                  <select class="custom-select border-right-0" style="border-radius: 10px 0 0 10px;"
                    id="inputGroupSelect02">
                    <option value="0" selected>Choose a Operator...</option>
                    <option *ngFor="let user of userList" [hidden]="user.role !== 'operator'" value="{{user.id}}">
                      {{user.name | titlecase}}
                      {{user.surname | titlecase}}</option>
                  </select>
                  <a class="btn border border-left-0" style="border-radius: 0 10px 10px 0; border: #cfd4d9"
                    (click)="goToUser()">
                    <i class="fa fa-plus-square-o fa-lg"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-4 offset-4">
            <button type="submit" class=" d-block w-100 btn btn-outline-secondary" (click)="forwardMaintenance()">Assign
              to
              operator</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="pdt10">
  <div class="card">
    <div class="card-header">
      <h5> List Maintenance</h5>
    </div>

    <div class="card-body">
      <app-list-user-maintenance></app-list-user-maintenance>
    </div>
  </div>
</div>
