.border-radius {
    border-radius: 10px;
}

.btn-outline-secondary {
  color: #379392;
  border: 1px solid #379392;
}

.btn-outline-secondary:hover {
  color: #f4f4f4;
  border: 1px solid #f4f4f4;
  background-color: #379392;
}

.border-color {
  border-left: 5px  solid #379392; 
}